@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container col-12">
        <div class="card">
            <div class="card-body">
                <a href="customers/customers">
                    <img src="~/images/home.jpg" style="width:100%"/>
                </a>
            </div>
        </div>
    </div>
    
</div>
