<div class="container">
    <div class="card">
        <div class="card-body">
            <h5> This application is a sample of Asp.Net8 Core MVC with Microservices Architecture deployed on Azure App Services using Azure Sql server database Azure Blob Storage and Stripe.com for credit card payments.</h5>
        </div>
        <div class="card-body">
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<hr/>
<footer class="border-top footer text-muted">
    <h4>Robert Sarkis Grekorian</h4>
    <h6>November 2023</h3>
</footer>

