@model RobertTest.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (@Model != null)
            {
                <label asp-for="id" class="control-label visually-hidden"></label>
                <input asp-for="id" class="form-control visually-hidden"  />
            }
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            @if(@Model != null){
                <div class="form-group">
                    <label asp-for="image" class="control-label"></label>               
                    <img id="list"  src="@Model.image" alt="" style="width:200px;height:200px" />
                    <input id="imginput" onchange="handleFileSelect()" type="file" asp-for="image" class="form-control" />
                </div>
            }
            else{
               <div class="form-group">
                    <label asp-for="image" class="control-label"></label>
                    <img id="list" src="https://clipground.com/images/placeholder-clipart-5.jpg" alt="" width="200" />
                    <input id="imginput" type="file" onchange="handleFileSelect()" asp-for="image" class="form-control" />
                </div>
            }
            <br/>
            <div class="col-12 d-flex">
                <div class="col-4">
                    <a href="Customers/Customers" class="btn btn-success">
                        <i class="bi bi-arrow-left-square"></i> &nbsp;&nbsp;Back to List
                    </a>
                </div>
                <div class="form-group  col-4 offset-4">
                    @if (Model == null)
                    {
                        <input type="submit" value= "Create" class="btn btn-primary form-control" />
                    }
                    else
                    {
                        <input type="submit" value="Update" class="btn btn-primary form-control" />
                    }
                </div>
            </div>
        </form>      
        
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 <script type="text/javascript">
    const imgInput = document.querySelector('#imginput')
    const imgEl = document.querySelector('#list')

    function handleFileSelect() {
            if (imgInput.files && imgInput.files[0]) {
                imgEl.src = URL.createObjectURL(imgInput.files[0]);
                imgEl.onload = () => {
                    URL.revokeObjectURL(imgEl.src)
                    imgEl.src = URL.createObjectURL(imgInput.files[0]);
                }
            }
    }
 </script>