@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1 class="display-4">You Are Not Authorized</h1>
    <div class="container col-12">
        <div class="card">
            <div class="card-body">
                <a href="customers/customers">
                    <video width="640" height="480" autoplay>
                        <source src="~/images/stop.mp4"  type="video/mp4" />
                    </video>
                </a>
            </div>
        </div>
    </div>

</div>
